fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.6.1
pydantic-settings==2.1.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
alembic==1.13.1
email-validator==2.1.0.post1
asyncpg
stripe==7.11.0
pandas==2.2.0
numpy==1.26.3
openpyxl==3.1.2
rapidfuzz==3.13.0 